<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecciones de {{ pelicula.titulo }}</title>
</head>
<body>
    <h1>Proyecciones de {{ pelicula.titulo }}</h1>
    <ul>
        {% for proyeccion in proyecciones %}
            <li>
                Fecha: {{ proyeccion.fecha }} - Hora: {{ proyeccion.hora }}
                <a href="{% url 'cartelera:reservar_boleto' proyeccion.id_proyeccion %}">Reservar</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cartelera:listar_peliculas' %}">Volver a la cartelera</a>
</body>
</html>